:root, body {
    padding: 0px;
    background-color: midnightblue;
    font-family: 'Fira Code', monospace;
    font-size: calc(16px + (28 - 16) * ((100vw - 300px) / (1600 - 300)));
    color: aquamarine;
}

a {
    color: aquamarine;
}

a:visited {
    color:aquamarine;
}

h2 {
    margin-top: 0;
}

#education {
    margin-top: 26.56px;
}

.blurb {
    font-size: 1.5em;
    min-height: 100vh;
    padding: 50px;
    position: absolute;
    width: 75%;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.fa {
    font-size: 0.86em;
    width: 75px;
    text-align: left;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin, 
.fa-github, 
.fa-bandcamp {
    background:midnightblue;
    color: aquamarine;
}

.resume {
    font-size: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr) 1/2fr;
    grid-template-areas:
        "name experience "
        "contact experience"
        "skills experience"
        "skills experience";
    border: 5px solid aquamarine;
}

.name {
    grid-area: name;
    font-size: 3.5em;
    padding: 50px;
}

.name h1 {
    margin: 0;
}

.contact {
    grid-area: contact;
    padding: 0px 50px;
}

.skills {
    grid-area: skills;
    padding: 0px 50px;
    line-height: 2.2;
}

.experience {
    grid-area: experience;
    padding: 0px 50px 0px 0px;
}

.projects { 
    grid-area: projects;
    padding: 0px 50px 0px 0px;
}

.section-header {
    font-size: 2em;
}

.date {
    float: right;
    margin-right: 50px;
}

.link {
    text-decoration: none;
    border-bottom: 3px dashed aquamarine;
    display: inline-block;
    line-height: 1;

}

.link:hover {
    opacity: 80%;
    font-style: italic;
}

.link:visited {
    color:aquamarine;
}

ul {
    padding: 0px 20px; 
}

/* Animation of links - just a little wiggle */
a:hover {
    animation: wiggle 0.2s;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}


@media (min-width:1200px) {
    .resume {
        grid-template-areas: 
        "name experience"
        "contact experience"
        "skills experience"
        "skills experience";
    }
}

@media (max-width: 700px) {
    .resume {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name"
        "contact"
        "experience"
        "experience"
        "experience"
        "experience"
        "skills"
        "skills";
    }

    .name, .contact, .section-header {
        text-align: center;
    }

    .experience {
        margin-left: 50px;
    }

    .projects {
        margin-left: 50px;
    }
}
